header {
	justify-content: space-between;
}

.projects_container {
	margin: 20px auto;
}

.add_project_form {
	padding-top: 20px;
	width: 400px;
	position: relative;

	i {
		position: absolute;
		font-size: 18px;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		color: var(--accent-color);
		font-weight: bold;
	}

	.element {
		border-radius: 9px;
		border: 0;
		outline: none;
		background-color: var(--drawer-action-background-hover-color);
		color: var(--text-color);
		font-size: 16px;
		appearance: none;
	}

	select {
		padding: 10px 44px 10px 15px;
		cursor: pointer;
	}

	input {
		width: -webkit-fill-available;
		width: -moz-available;

		&[type="text"] {
			padding: 10px 42px 10px 15px;
		}

		&[type="file"] {
			padding: 10px 15px;
			cursor: pointer;
		}
	}

	textarea {
		padding: 10px 15px;
		width: -webkit-fill-available;
		width: -moz-available;
		height: 100px;
		resize: vertical;
	}
}
