header {
	justify-content: space-between;
}

.project_header {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.projects_container {
	margin: 20px auto;

	&.project_add_container {
		width: 340px;
	}
}

.add_project_form {
	padding-top: 20px;
	position: relative;

	i {
		position: absolute;
		font-size: 18px;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		color: var(--accent-color);
		font-weight: bold;
	}

	.element {
		border-radius: 9px;
		border: 0;
		outline: none;
		background-color: var(--drawer-action-background-hover-color);
		color: var(--text-color);
		font-size: 16px;
		appearance: none;
	}

	select {
		padding: 10px 44px 10px 15px;
		cursor: pointer;
	}

	input {
		width: -webkit-fill-available;
		width: -moz-available;

		&[type="text"] {
			padding: 10px 42px 10px 15px;
		}

		&[type="file"] {
			padding: 10px 15px;
			cursor: pointer;
		}

		&[type="color"] {
			padding: 0;
			width: 40px;
			height: 40px;
			border-radius: 9px;
			cursor: pointer;
		}
	}

	textarea {
		padding: 10px 15px;
		width: -webkit-fill-available;
		width: -moz-available;
		height: 100px;
		resize: vertical;
	}

	.add_links_container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.add_link_container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			background-color: red;

			.information_container {
				display: flex;
				flex-direction: row;

				.number {
					width: 50px;
				}
			}
		}
	}
}
